.toy-toggle {
  width: 60px;
  height: 32px;
  background: #fff;
  border: 3px solid #1a1a1a;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.toy-toggle::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #1a1a1a;
  border-radius: 50%;
  transition: 0.2s;
}

.toy-toggle-active {
  background: #86efac;
}

.toy-toggle-active::after {
  left: 31px;
  background: #fff;
  border: 2px solid #1a1a1a;
}
